# Git
.git
.gitignore

# Python
__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
venv/
.env
.venv
**/env/
**/venv/
**/.venv/

# Node
node_modules/
**/node_modules/
npm-debug.log
yarn-error.log

# Mac
.DS_Store
**/.DS_Store

# Docker
Dockerfile
.dockerignore

# Database
backend/database.db
*.db
